* {
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    height: 60px;
    justify-content: space-between;
    background-color: grey;
    align-items: center;
}

.logo a{
    font-size: 35px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 30px;
    text-decoration: none;
}

.busqueda{
    display: flex;
    align-items: center;
}

.busqueda input[type="search"]{
    width: 700px;
    height: 25px;
    border: 2px solid black;
}

.navlinks{
    display: flex;
    margin-right: 80px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(42, 87, 236);
    padding: 8px;
    border: 2px solid black;
    list-style-type: none;
    box-shadow: 2px 2px 10px black;
    border-radius: 5px;
}
.navlinks a{
    color: white;
    text-decoration: none;
}

.gato{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 320px;
    background-color: white;
    margin-top: 60px;
    margin-left: 30px;
    border: 3px solid black;
}

.atigrado, .golden{
    margin-top: 40px;
    margin-left: 10px;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sustantivo1, .sustantivo2{
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.plural1, .plural2{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.descripcion1, .descripcion2{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.megustas1, .megustas2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    margin-top: 30px;
    margin-left: 10px;
    background-color: rgb(222, 243, 29);
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
}

.perro{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 320px;
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
    border: 3px solid black;
}

.cuadro3{
    width: 700px;
    height: 160px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    right: 300px;
    background-color: white;
    border: 2px solid black;
}

.definicion{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: green;
    color: white;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 2px 3px 10px black;
}

