/* Estilo general para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo para el pie de página */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer h1 {
    margin: 0;
    font-size: 24px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer ul li a:hover {
    color: #ff6347;
}

/* Estilo para el contenedor de la tarjeta */
.card {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.card ul li p {
    font-weight: bold;
    color: #333;
}

/* Estilo para el botón de eliminar */
form button {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #e60000;
}
